pre, code, tt {
	font-family: Consolas, Courier, "Courier New", "Liberation Mono", monospace;
	font-size: 0.85em;
	white-space: pre-wrap;
	line-height: 1.4;
	font-weight: 400;
	background-color: #404145;
	color: #FAFAFA;
}

pre {
	box-sizing: border-box;
	margin: 0 0 0 0;
	width: 100%;
	padding: 10px;
	font-size: 1.4rem;
	tab-size: 4;
	white-space: pre;
	overflow: auto;

	code, tt {
		font-size: inherit;
		white-space: pre;
		background: transparent;
		border: none;
		padding: 0
	}
}

blockquote > code,
li > code,
p > code {
	padding: "4px 6px";
	white-space: nowrap;
}

.gutter {
	width: 35px;
	padding: 0px;
	border: none;
	display: inline-block;
}

.code {
	padding: 0px;
	border: none;
}

.lineno {
	color: #ccc; 
	display:inline-block; 
	padding: 0 5px; 
	border-right:1px solid #ccc;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: 0;
}

td pre {
	padding: 0 0 0 15px;
}
