pre, code, tt {
	font-family: Consolas, Courier, "Courier New", "Liberation Mono", monospace;
	font-size: 0.85em;
	white-space: pre-wrap;
	border-radius: 2px;
	line-height: 1.4;
	font-weight: 400;
	background-color: #404145;
	color: #FAFAFA;
	border-radius: 2px;
}

pre {
	box-sizing: border-box;
	margin: 0 0 0 0;
	width: 100%;
	padding: 10px;
	font-size: 1.4rem;
	tab-size: 4;
	white-space: pre;
	overflow: auto;
	border-radius: 3px;

	code, tt {
		font-size: inherit;
		white-space: pre;
		background: transparent;
		border: none;
		padding: 0
	}
}

blockquote > code,
li > code,
p > code {
	padding: 4px 6px;
	white-space: nowrap;
}

.lineno {
	padding: 0;
}

td pre {
	padding: 0 0 0 15px;
}
